
server/data\.db

client/rp\.log

server/audiofile\.wav

server/client_db\.db

*.log

\.idea/workspace\.xml

server/__pycache__/biometricAuthn\.cpython-35\.pyc

server/__pycache__/recovery\.cpython-35\.pyc

server/__pycache__/voiceReg\.cpython-35\.pyc

server/modules/__pycache__/ask_question\.mako\.cpython-35\.pyc

server/modules/__pycache__/login\.mako\.cpython-35\.pyc

server/modules/__pycache__/modify_totp\.mako\.cpython-35\.pyc

server/modules/__pycache__/new_pwd\.mako\.cpython-35\.pyc

server/modules/__pycache__/recover_pwd\.mako\.cpython-35\.pyc

server/modules/__pycache__/root\.mako\.cpython-35\.pyc

server/modules/__pycache__/totp_form\.mako\.cpython-35\.pyc

server/modules/ask_question\.mako\.py

server/modules/biom_form\.mako\.py

server/modules/login\.mako\.py

server/modules/modify_totp\.mako\.py

server/modules/new_pwd\.mako\.py

server/modules/registration\.mako\.py

server/modules/root\.mako\.py

server/modules/totp_form\.mako\.py

server/static/jwks\.json

server/templates/root\.mako
